
=render :partial=>'sessions/login'
%h1 Movies from TMDB

%table#movies
  %thead
    %tr
      %th Id
      %th Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each_with_index do |movie,count|
      %tr
        %td= count 
        %td= movie.name 
        %td= movie.certification
        %td= movie.released
        %td= movie.name

= link_to 'Back to movie list', movies_path
